@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400&family=Indie+Flower&family=Voces&display=swap');

nav {
  width: 100%;
  background-color: chartreuse;
}

.nav {
  display: flex;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -35px;
  box-shadow: 1px 1px 1px 0.3px #cecece;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding-top: 20px;
  padding-left: 15px;
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 1px;
  flex: 1;
  max-width: 30vw;
  color: #007c4a;
}

.links {
  display: flex;
  font-family: 'Hanuman', serif;
  margin: 30px;
  justify-content: space-between;
  align-content: flex-end;
  font-size: 18px;
  width: 55%;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.link-welcome {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

@media (max-width: 1024) {
  .header {
    border-bottom: 1px solid #e2e8f0;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  .hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-item {
    margin-left: 5rem;
  }

  .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
  }

  .nav-link:hover {
    color: #482ff7;
  }

  .logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
