@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400&family=Indie+Flower&family=Voces&display=swap');

nav {
  /* flex: 1; */
  position: relative;
  width: 100%;
  /* z-index: 1; */
  /* top: 0; */
  /* left: 0; */
}

.nav {
  display: flex;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -35px;
  box-shadow: 1px 1px 1px 0.3px #cecece;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding-top: 20px;
  padding-left: 15px;
  font-family: 'Indie Flower', cursive;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 1px;
  flex: 1;
  max-width: 30vw;
  color: #007c4a;
}

.links {
  display: flex;
  font-family: 'Hanuman', serif;
  margin: 20px;
  justify-content: space-between;
  align-content: flex-end;
  font-size: 18px;
  width: 40%;
}

.nav-link {
  margin-top: 35px;
  text-decoration: none;
  color: black;
  font-size: 28px;
}
