@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400&family=Voces&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400&family=Indie+Flower&family=Voces&display=swap");

.form-container {
  display: flex;
}

.sign-up-title {
  font-size: 60px;
  font-weight: bold;
}

.sign-up-btn {
  justify-self: center;
  font-family: "Indie Flower", cursive;
  background: #c4c4c4;
  width: 180px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  filter: drop-shadow(16px 14px 3px rgb(0, 180, 123, 0.25));
  margin-top: 30px;
}

.input {
  display: flex;
  width: 690px;
  height: 50px;
  background: #c4c4c4;
  font-size: 20px;
  font-family: "Hanuman", serif;
  text-align: left;
  filter: drop-shadow(16px 14px 3px rgb(0, 180, 123, 0.25));
  margin-bottom: 15px;
  padding-left: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 60px;
  padding-top: 5px;
}

.label {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  font-family: "Hanuman", serif;
  font-size: 25px;
  padding-bottom: 15px;
  padding-top: 20px;
}
.call-to-action {
  margin: 0 80px;
  font-size: 36px;
  font-family: "Hanuman", serif;
  text-align: left;
  justify-self: flex-start;
  padding-left: 50px;
}

p {
  font-size: 25px;
}

@media (max-width: 1024px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
  }
  .sign-up-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
  }
  .call-to-action-p {
    text-align: center;
  }
  .form {
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
  }
  .sign-up-img {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
  .sign-up-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding-right: 50px;
  }
  .form {
    display: flex;
    justify-content: center;
    padding: none;
    align-items: center;
  }
  .input {
    display: flex;
    width: 300px;
    height: 50px;
    padding: none;
  }
  .label {
    font-size: 18px;
  }
  .sign-up-btn {
    height: 45px;
    font-size: 24px;
  }
  .sign-up-img {
    display: flex;
    justify-content: center;
    padding-right: 50px;
  }
}
