.form-container {
  display: flex;
  margin-top: 50px;
}

button {
  justify-self: right;
  font-family: 'Indie Flower', cursive;
  background: #c4c4c4;
  width: 180px;
  height: 72px;
  font-size: 36px;
  font-weight: bold;
  filter: drop-shadow(16px 14px 3px rgb(0, 180, 123, 0.25));
  margin-top: 15px;
}

.input {
  display: flex;
  width: 690px;
  height: 50px;
  background: #c4c4c4;
  font-size: 30px;
  font-family: 'Hanuman', serif;
  text-align: left;
  filter: drop-shadow(16px 14px 3px rgb(0, 180, 123, 0.25));
  margin-bottom: 15px;
}

.label {
  display: flex;
  text-align: left;
  justify-content: flex-start;
}
.call-to-action {
  /* display: flex; */
  margin: 0 80px;
  font-size: 36px;
  font-family: 'Hanuman', serif;
  text-align: left;
  justify-self: flex-start;
}

p {
  font-size: 25px;
}

/* .call-to-action-p {
  display: flex;
  margin: 0 80px;
  font-size: 36px;
  font-family: "Hanuman", serif;
  text-align: center;
  justify-self: baseline;
} */
